name: Build and push python wheel
on:
  pull_request:
      branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{github.head_ref}}
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: poetry
      - name: Install dependencies
        run: poetry install
      - name: Lint with black
        run: poetry run black --check .
      - name: Run tests
        run: poetry run pytest
      - name: Build packages
        run: poetry build --format wheel --output wheels
      - name: Check if changes are to commit
        id: verify_diff
        run: |
          git add -A
          git diff HEAD --quiet . || echo "changed=true" >> $GITHUB_OUTPUT
      - name: Commit and push changes
        if: steps.verify_diff.outputs.changed == 'true'
        uses: planetscale/ghcommit-action@v0.2.19
        with:
          commit_message: "Build and push python wheel [skip ci]"
          repo: ${{github.repository}}
          branch: "${{ github.event.pull_request.head.ref }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
